* {
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: calc(100% - 1rem);
    width: 100%;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 0.5rem);
    height: 2rem;
    margin-left: 0.25rem;
    background: #666;
    border-radius: 4px;
    >a {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: #fff;
        border: 2px solid #777;
    }
    >a:hover {
        background: #555;
        transition: all 500ms ease;
    }
}

.header {
    font-family: 'Courier';
    display: grid;
    place-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
    width: calc(100% - 4rem);
    height: 20rem;
    border-radius: 30px;
    background: linear-gradient(to bottom left, #3e6dd3, #cb8be4);
}

.main {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
}

h1 {
    font-family: 'Courier';
    font-weight: 900;
    font-size: 5rem;
}

.sep {
    width: calc(100% - 2rem);
    height: 0.7rem;
    margin-left: 1rem;
    margin-block: 0.5rem;
    background: black;
    border-radius: 0.5rem;
}

@media screen and ((orientation = portrait) or (width<843px)) {
    .header {
        font-size: 12vw;
    }
}
